streamlit
scipy
pandas
numpy
scikit-learn
matplotlib
plotly
requests
Pillow
langchain
pinecone-client
PyMuPDF
scispacy
https://huggingface.co/allenai/scispacy_models/resolve/main/en_core_sci_md-0.5.1.tar.gz
